</div>
<div class="footer text-center">
  <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3  col-sm-offset-3">
    <p>Copyright &copy; Management and Information Center Oyo State </p>
    <p>A CDS project by <a href="mailto:oluwatoyosi.oyegoke@gmail.com?Subject=MIC%20App">Oluwatoyosi Oyegoke(OY/18A/0935)</a> & <a href="mailto:akdayo410@gmail.com?Subject=MIC%20App">Akeredolu Dayo(OY/17B/1271)</a></p>
  </div>
</div>
<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>