<% include partials/header.ejs %>
  <div class="row signup">
    <div class="col-lg-4 col-md-4 col-sm-4  col-xs-10">
      <img src="../images/Oyo-State-emblem.png" class="img-responsive img-rounded" alt="Oyo state Emblem">
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-1 ">
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/register" onsubmit="">
          <div class="form-head">
              <h3>Staff Sign-Up</h3>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="Firstname">First Name:</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter Your First Name" name="firstname" required>
              <span id="firstError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="Lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter Your Last Name" name="lastname" required>
              <span id="lastError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="Username">Employee Id:</label>
              <input type="text" class="form-control" id="username" placeholder="Enter Your Username" name="username" required>
              <span id="userError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="Phone no">Phone no:</label>
                <input type="text" class="form-control" id="phone" placeholder="Enter Your Phone number" name="phone" required>
              <span id="phoneError" class="validationError"></span>
          </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="Photo">Choose Profile <Picture></Picture>:</label>
                <input type="file" class="form-control" id="picture" accept="image/*" name="picture" required>
            </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="gender">Gender:</label>
              <select class="form-control" name="gender" id="gender" required>
                <option selected disabled>Select your Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="state">State:</label>
            <select class="form-control" name="state" id="state" required>
              <option selected disabled>Select your State</option>
          </select>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6">
          <label class="control-label" for="Username">LGA:</label>
          <select class="form-control" name="lga" id="lga" required>
            <option selected disabled>Select your LGA</option>
        </select>
        </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="age">Date of Birth:</label>
              <input type="date" class="form-control" id="age" step="1" min="1" placeholder="Enter Your Age" name="age" required>
              <span id="ageError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="age">Date Hired:</label>
              <input type="date" class="form-control" id="hire_date" step="1" min="1" placeholder="Enter Your Age" name="hire_date" required>
              <span id="ageError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="age">Marital Status :</label>
            <select name="marital_status" id="" class="form-control" required>
              <option selected disabled>Select your Marital Status</option>
              <option value="Single">Single</option>
              <option value="Married">Married</option>
              <option value="Divorced">Divorced</option>
              <option value="Seperated">Seperated</option>
              <option value="Widowed">Widowed</option>
            </select>  
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="level">Grade:</label>
              <input type="number" class="form-control" id="level" step="1" min="1" placeholder="Enter Your Grade Level" name="level" required>
              <span id="levelError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="level">Step:</label>
              <input type="number" class="form-control" id="step" step="1" min="1" placeholder="Enter Your Step" name="step" required>
              <span id="stepError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="Firstname">Department:</label>
              <input type="text" class="form-control" id="dept" placeholder="Enter Your Department" name="dept" required>
              <span id="deptError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
              <span id="emailError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-10 col-md-10 col-sm-10">
            <label for="address">Address:</label>
            <textarea class="form-control" rows="5" id="address" name="address" required></textarea>
              <span id="addressError" class="validationError"></span>
            </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
            <label class="control-label" for="pwd">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
              <span id="passwordError" class="validationError"></span>
          </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm password" name="cpassword" required>
              <span id="cpasswordError" class="validationError"></span>
            </div>
          <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label class="control-label" for="pwd">Admin Code:</label>
                <input type="password" class="form-control" id="adminCode" placeholder="Enter secret code" name="adminCode">
            </div>
          <!-- <div class="form-group"> -->
            <div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <div class="text-center">
                <a href="/login">Have an account? Login</a>
            </div>
          </div>
      </form> 
    </div>    
  </div>
  
<% include partials/footer.ejs %>
